
@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw9aXpsog.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

*{
    font-family: Montserrat;
}

p{
    margin: 0;
    padding: 0;
    color: white;
}

body{
    height: 100%;
    width: 100%;
}

.main{
    display: flex;
    flex-direction: column;
}


.watermark_bg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.watermark_bg > p {
    color: black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 8px;
}

.contacts_links{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contacts_links > *{
    user-select: none;
}
.contacts_links > *:hover {
    cursor: pointer;
}


#app_container{
    box-shadow: 5px 5px 15px rgba(0,0,0,.5);

    width: 400px;
    background-color: DarkSlateGrey;
    padding: 5px;
    border-radius: 12px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%)

}

#heading{
    padding-bottom: 5px;
    margin: 0;
    color: white;
    text-align: center;
}

#scroller_container {
    height: 400px;
    overflow-y: scroll;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    background-color: SlateGrey;
    border: 2px solid SlateGrey;
}

#input_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#message_input {
    border-color: transparent;
    border-radius: 12px;
    margin-top: 5px;
    margin-right: 5px;
    padding: 4px;
    width: 100%;
    background-color: SlateGrey;
    color: white;
}

#send_message_button {
    height: 100%;
}

.message_container{
    background-color: DarkSlateGrey;
    margin: 5px;
    border-radius: 4px;
    padding: 6px 8px 2px;
    max-width: 70%;
    max-height: available;
    word-break: break-all;
    text-align: left;
}

#scroller_container > :first-child{
    margin-top: auto
}

.my_message{
    align-self: flex-end;
}

.companion_message{
    align-self: flex-start;
}

.my_message > .timestamp {
    text-align: right;
}

* {
    scrollbar-width: thin;
    scrollbar-color: blue SlateGrey;
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}
*::-webkit-scrollbar-track {
    background: SlateGrey;
    border-radius: 8px;
}
*::-webkit-scrollbar-thumb {
    background-color: DarkSlateGrey;
    border-radius: 5px;
    border: 3px solid SlateGrey;
}

::placeholder{
    color: lightgray;
}

.timestamp{
    color: darkgray;
    font-size: 12px;
}

#send_button{
    padding: 0;
    margin-top: 5px;
    width: 32px;
    height: 28px;
    border-radius: 24px;
    background: lightblue;

}

.button_img{
    transform: translate(1px, 2px);
    width: 20px;
    height: 20px;

    padding: 0;
    margin: 0;
}

.popup_bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.5);
    opacity: 0;
    pointer-events: none;
}

.popup_bg.active{
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}

.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 400px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px rgba(0,0,0,.5);

}

.link_title{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: bold;
}

.description{
    padding-bottom: 25px;
}
.link{
    text-align: center;


}

